{
    "app_name":"",
    "app_description":"",
    "app_author":"",
    "app_company":"",
    "app_company_url":"http:\/\/",
    "app_start_year":"2022",
    "app_enviroment":"dev",
    "app_default_ctr":"dashboard",
    "app_url":"http:\/\/localhost\/",
    "app_version":"0.0.0",
    "app_short_version":"0.0",
    "app_language":"es",
    "app_logo":"app_logo.png",
    "app_logo_mini":"app_logo_mini.png",
    "app_tile_color":"#ffffff",
    "app_theme_color":"#ffffff",
    "app_background_color":"#ffffff",
    "app_view":{
        "engine":"smarty",
        "theme":"adminlte"
    },
    "app_colab":[
        {
            "theme":[
                {
                    "url":"https:\/\/www.adminlte.io\/",
                    "name":"AdminLTE"
                }
            ],
            "technology":[
                {
                "url":"https:\/\/www.smarty.net\/",
                    "name":"SMARTY 3.0"
                }
            ]
        }
    ]
}